body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
.section-title{
    color: rgb(63, 63, 253);
}
/* common style and utilitis */
.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
}

/* Top-players-style */
.Players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    height: 56px;
    width: 56px;
}
.players-name{
    margin-left: 16px;
}